/* .grid_main {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 500px ;
  grid-gap: 10px 10px;
 
  color: white;
  font-weight: bold;
}

.box1 {
  grid-column: 1/2;
 
  grid-row: 1/2;
  
  background: rgba(0, 0, 0, 0.733);
 
}
form label{
  margin-top: 100px;
  margin-left: 100px;
  float: left;
}
form input{
  margin-top:100px;
  margin-right: 650px;
  float: right;

}
form  div{
  clear: both;
}

form button{
  float: left;
  margin-left: 150px;
  border: none;
  color: black;
  background-color: white;
  padding: 15px 32px;
} */



