<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/borrow-item">Borrow Item</a></li>
      <li><a routerLink="/add-item">Add item</a></li>
      <li><a routerLink="/delete-item">Delete item</a></li>
      <li><a routerLink="/generate-item">Library Items</a></li>
      <li><a routerLink="/return-item">Return Item</a></li>
      <li><a routerLink="/report">Report</a></li>
      <li><a routerLink="/reader">Reader</a></li>
      <li><a routerLink="/reserve">Reserve</a></li>
    </ul>
  </nav>
  <div style="clear: both;"></div>

</div>

<router-outlet></router-outlet>


